/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

p.border
{
border-style:solid;
border-width:1px;
padding:3px;
}

span.white { color: #fff; }

span.winner {
            color: #00FF00;
            text-shadow: 2px 2px 2px #000000;
            }

span.loser {
            color: #484848 ;
            }
            


span.neon {

  text-align: center;
  margin: 24px auto;
  font-family: "Museo";
  font-size: 24px; text-transform: uppercase;
  color: #000;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF0000, 0 0 50px #FF0000, 0 0 10px #FF0000, 0 0 10px #FF0000, 0 0 10px #FF0000, 2px 2px 2px #ff0000, 2px 2px 2px #ff0000, 2px 2px 2px #ff0000, 2px 2px 2px #ff0000, 2px 2px 2px #ff0000;
}