<h2>How to play Washoes!</h2>
Washoes is a cunning game of strategy and deception, but this isn't Vietnam, there are rules...<br>
<br>
<b>The Goal:</b>
<li>Earn 21 points before your opponent.</li>
</br>
<b>How to Play:</b>
<li>Earn points by throwing your Washers into the holes on the game board.</li>
<li>Do not go over though! Earning 22 points puts you back to 1.</li>
<li>Holes are oriented vertically, and each has a different value, 1, 3 or 5 depending on position.</li>
<li>Cancel your opponents points by throwing your washers in holes where your opponents have scored points.</li>
<br>
<b>The Rules:</b>
<li>For a new game, the player with the most points in the current bracket goes first, otherwise flip a coin.</li>
<li>The player with the most points in the current game goes first each round.</li>
<li>If at the end of a round a player has gone over 21 points 3 times, that player loses.</li>
<li>After earning 21 points, if the player has washers left over, each washer must hit the board otherwise the player loses.</li>
<li>Each round both players have an opportunity to shoot, unless the player loses by missing the board.</li>
<br>